*{
    margin: 0;
    padding: 0;
}
header
{
    text-align: left;
    padding: 50px;
    background-color:#2099E8;
    color: white;
    font-size: 32px;
}
footer
{
    text-align: center;
    padding: 50px;
    background-color:#00EBFE;
    color: white;
    font-size: 32px;
}
.container
{
    height: 400px;
    display:flex;
}
.item1
{   
    display:flex;
    flex-grow: 2;
    height: 400px;
    background-color: #00FFBD;
    color: white;
    justify-content: space-evenly;
    }
.item2
{   
    flex-grow: 1;
    height: 400px;
    text-align: center;
    line-height: 400px;
    font-size: 32px;
    background-color: #FE7C00;
    color: white;
}
.sub
{
    margin-top: 50px;
    height: 120px;
    width: 120px;
    line-height: 4;
    text-align: center;
    background-color: #00A3FE;
    color: white;
    font-size: 28px;
}